<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="dk.gi2.plugins.MeteorCordova"
  version="0.0.6">

  <name>MeteorCordova</name>

  <description>
    This plugin allows Meteor to run remotely inside Cordova and accessing events and the native scope.
  </description>

  <info>
    Remeber to checkout the documentation on https://github.com/raix/Meteor-Cordova

    You have to initialize the MeteorCordava, reference the added html files example.html and fallback.html
  </info>

  <author>Morten Henriksen aka RaiX</author>

  <license>MIT</license>

  <keywords>meteor,cordova,plugin</keywords>

  <asset src="plugin/meteor.cordova.js" target="meteor.cordova.js" />
  <asset src="plugin/meteor.cordova.css" target="css/meteor.cordova.css" />

  <!-- <js-module src="plugin/meteor.cordova.js" name="MeteorCordova">
      <merges target="MeteorCordova" />
  </js-module> -->

  <asset src="plugin/fallbackurl.example.html" target="fallbackurl.example.html" />
  <asset src="plugin/index.example.html" target="index.example.html" />
  
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>  

  <!-- android -->
  <platform name="android">

  </platform>

  <!-- ios -->
  <platform name="ios">
    <!-- Make sure we are fullscreen - the statusbar got to go... -->
    <config-file target="*-Info.plist" parent="UIStatusBarHidden">
      <true/>
    </config-file>

  </platform>
</plugin>